body {
  background: #00152b;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 80px;
}

.logo {
  width: 150px;
}

button {
  background: gold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

#messages {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  border-radius: 10px;
}

.user { margin-bottom: 10px; color: #ffd700; }
.bot { margin-bottom: 10px; color: #4eeaff; }
